<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body"></div>
                 <video class="container-fluid" autoplay loop muted >
          <source src="assets/img/DroneFootage.mp4" type="video/mp4" >
          </video>
            <div class="container"></div>
           
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"></h1><br><br>
                        <h2>Experience life from the sky,<br>MileHigh.</h2>
                        <h3><a class="page-scroll" data-toggle="modal" data-target="#login-modal">Sign Up</a> to share your drone photos!</h3>
                           
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
       <!--DIV WHERE OUR IMAGES WILL BE LOADED-->
        <div class="row">
         
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; MileHigh 2018</p>
        </div>
    </footer>