<link rel="stylesheet" href="/assets/css/drone.css">
{{> nav }}
{{> login-modal }}

<section>

    <div class="system">
        <div class="screen-border">
            <canvas id="easel" class="screen" width="640" height="560">
<script>
    'use strict';

var videoElement = document.querySelector('video');
var audioSelect = document.querySelector('select#audioSource');
var videoSelect = document.querySelector('select#videoSource');

navigator.mediaDevices.enumerateDevices()
  .then(gotDevices).then(getStream).catch(handleError);

audioSelect.onchange = getStream;
videoSelect.onchange = getStream;

function gotDevices(deviceInfos) {
  for (var i = 0; i !== deviceInfos.length; ++i) {
    var deviceInfo = deviceInfos[i];
    var option = document.createElement('option');
    option.value = deviceInfo.deviceId;
    if (deviceInfo.kind === 'audioinput') {
      option.text = deviceInfo.label ||
        'microphone ' + (audioSelect.length + 1);
      audioSelect.appendChild(option);
    } else if (deviceInfo.kind === 'videoinput') {
      option.text = deviceInfo.label || 'camera ' +
        (videoSelect.length + 1);
      videoSelect.appendChild(option);
    } else {
      console.log('Found one other kind of source/device: ', deviceInfo);
    }
  }
}

function getStream() {
  if (window.stream) {
    window.stream.getTracks().forEach(function(track) {
      track.stop();
    });
  }

  var constraints = {
    audio: {
      deviceId: {exact: audioSelect.value}
    },
    video: {
      deviceId: {exact: videoSelect.value}
    }
  };

  navigator.mediaDevices.getUserMedia(constraints).
    then(gotStream).catch(handleError);
}

function gotStream(stream) {
  window.stream = stream; // make stream available to console
  videoElement.srcObject = stream;
}

function handleError(error) {
  console.log('Error: ', error);
}

</script>
            </canvas>
        </div>
        <div class="controls">
            <h1 class="system-name">Create JS.</h1>
            <div class="d-pad">
                <div id="d-up" class="button d up"><span class="label">&#9650;</span></div>
                <div id="d-right" class="button d right"><span class="label">&#9654;</span></div>
                <div id="d-down" class="button d down"><span class="label">&#9660;</span></div>
                <div id="d-left" class="button d left"><span class="label">&#9664;</span></div>
            </div>
            <div class="control-buttons">
                <div id="control-a" class="button control a"><span class="label">A</span></div>
                <div id="control-b" class="button control b"><span class="label">B</span></div>
            </div>
            <div class="meta-buttons">
                <a href="/trying/">
                    <div id="meta-start" class="button meta start"><span class="label">Start</span></div>
                </a>
                <div id="meta-select" class="button meta select"><span class="label">Select</span></div>
            </div>
        </div>
    </div>
    
    <script src='https://code.createjs.com/createjs-2013.05.14.min.js'></script>
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    {{!-- <script src="/public/assets/js/droneindex.js"></script> --}}

</section>