  <link rel="stylesheet" href="/assets/css/pricing.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
<div class="system">
  <div class="screen-border">
        <div class="card">
                <img src="http://fillmurray.com/g/300/300" id="img-preview" />
                <label class="file-upload-container" for="file-upload">
                  <input id="file-upload" type="file" style="display:none;">
                  Select an Image
                </label>
              </div>
              <!-- Scripts -->
              <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
              <!-- <script src="/public/scripts/app.js"></script> -->
  </div>
  <div class="controls">
    <h1 class="system-name">Create JS</h1>
    <div class="d-pad">
      <div id="d-up" class="button d up"><span class="label">&#9650;</span></div>
      <div id="d-right" class="button d right"><span class="label">&#9654;</span></div>
      <div id="d-down" class="button d down"><span class="label">&#9660;</span></div>
      <div id="d-left" class="button d left"><span class="label">&#9664;</span></div>
    </div>
    <div class="control-buttons">
      <div id="control-a" class="button control a"><span class="label">A</span></div>
      <div id="control-b" class="button control b"><span class="label">B</span></div>
    </div>
    <div class="meta-buttons">
        <a href="cloudinary.html">
      <div id="meta-start" class="button meta start"><span class="label">Start</span></div></a>
      <div id="meta-select" class="button meta select"><span class="label">Select</span></div>
    </div>
  </div>
  </div>
  <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
  <script src='https://code.createjs.com/createjs-2013.05.14.min.js'></script>
  
  

    <script  src="js/index.js"></script>